section.achieves
	ul.achieves__list
		li.achieves__item
			span.achieves__item-value 2000

			.common__text.achieves__item-description
				p Являемся одним из крупнейших поставщиков высококачественных ингредиентов для продуктов питания и напитков с 2000 
				
		li.achieves__item
			span.achieves__item-value 1&nbsp;305&nbsp;254

			.common__text.achieves__item-description
				p С 2015 г. по настоящее время реализовали более 1 305 254 тонн сырья

		li.achieves__item
			span.achieves__item-value 1000

			.common__text.achieves__item-description
				p Более 1000 активных клиентов по всему миру

		li.achieves__item
			span.achieves__item-value 99

			.common__text.achieves__item-description
				p 99% — доля постоянных клиентов и клиентов, пришедших по рекомендации

		li.achieves__item
			span.achieves__item-value 50

			.common__text.achieves__item-description
				p Более 50 сотрудников в штате, при этом мы постоянно расширяемся

		li.achieves__item
			span.achieves__item-value 7

			.common__text.achieves__item-description
				p Склады по всей России для хранения продукции в удобном для клиента регионе

		li.achieves__item
			span.achieves__item-value 4

			.common__text.achieves__item-description
				p Производственные площадки по переработке сырья и производству готовой продукции

		li.achieves__item
			span.achieves__item-value 4

			.common__text.achieves__item-description
				p Собственные пищевые лаборатории для купажирования и блендирования продукции