section.announcement
	include ../../build/images/sign-petrogroup.svg

	h2.common__h2.announcement__heading #[span.announcement__heading-accent 4] производственные площадки

	.common__text.common__text_large.announcement__description
		p Все предприятия оборудованы современным оборудованием от ведущих мировых производителей и сертифицированы по международной системе стандартов безопасности и качества производства пищевой продукции