section.benefits
	.benefits__inner
		h2.common__h2.benefits__heading Сотрудничая с&nbsp;нами вы&nbsp;получаете

		ul.benefits__list
			li.benefits__item
				span.common__text.common__text_mediumn.benefits__label Премиальное качество

				p.common__text.benefits__description Асептическое производство и фасовка. Более 50 наименований товаров, прошедших проверку на требования всех действующих стандартов на территории РФ

			li.benefits__item
				span.common__text.common__text_mediumn.benefits__label Постоянное наличие

				p.common__text.benefits__description На основании прогнозирования происходят плановые закупки, чтобы сырье всегда было в наличии (в том числе и импортное сырье)

			li.benefits__item
				span.common__text.common__text_mediumn.benefits__label Контроль качества

				p.common__text.benefits__description Собственные испытательные лаборатории и многолетнее сотрудничество со сторонними аккредитованными лабораториями по всей России

			li.benefits__item
				span.common__text.common__text_mediumn.benefits__label Комфортные условия оплаты

				p.common__text.benefits__description Гибкая ценовая политика для наших клиентов (предоплата, отсрочка, товарный кредит)

			li.benefits__item
				span.common__text.common__text_mediumn.benefits__label Гарантии

				p.common__text.benefits__description Фиксированная цена на весь период контракта и стабильные объемы поставок

			li.benefits__item
				span.common__text.common__text_mediumn.benefits__label Контрактное производство

				p.common__text.benefits__description Использование производственных площадок компании для организации полного цикла производства продукта под брендом клиента (от сырья и упаковки до готового продукта и сертификации)

			li.benefits__item
				span.common__text.common__text_mediumn.benefits__label Быстрые поставки

				p.common__text.benefits__description Создание складских резервов продукции в удобном для клиента регионе для быстрого закрытия его потребностей

			li.benefits__item
				span.common__text.common__text_mediumn.benefits__label Логистические решения

				p.common__text.benefits__description Оперативная доставка продукции. Решение всех логистических вопросов (в том числе таможенное оформление)
