section.catalogue-preview
	h2.common__h2.catalogue-preview__heading Сами производим и&nbsp;поставляем

	p.common__text.common__text_large.catalogue-preview__description 
		span.catalogue-preview__description-accent ООО&nbsp;«Петрогрупп»
		| — производитель и&nbsp;поставщик высокотехнологичных натуральных ингредиентов и&nbsp;комплексных решений для малого, среднего и&nbsp;крупного бизнеса в&nbsp;индустрии продуктов питания и&nbsp;напитков

	ul.catalogue-preview__list
		li.catalogue-preview__item
			img.catalogue-preview__image(src="images/catalogue-preview/preview-01.jpg" alt="")

			span.common__h3.catalogue-preview__label Соки и&nbsp;концентрированные соки

			ul.catalogue-preview__kinds-list
				li.catalgoue-preview__kinds-item
					a.catalogue-preview__kinds-link(href="") Фруктовые

				li.catalgoue-preview__kinds-item
					a.catalogue-preview__kinds-link(href="") Ягодные

		li.catalogue-preview__item
			img.catalogue-preview__image(src="images/catalogue-preview/preview-02.jpg" alt="")

			span.common__h3.catalogue-preview__label Пюре

			ul.catalogue-preview__kinds-list
				li.catalgoue-preview__kinds-item
					a.catalogue-preview__kinds-link(href="") Фруктовые

				li.catalgoue-preview__kinds-item
					a.catalogue-preview__kinds-link(href="") Ягодные

				li.catalgoue-preview__kinds-item
					a.catalogue-preview__kinds-link(href="") Овощные

		li.catalogue-preview__item
			img.catalogue-preview__image(src="images/catalogue-preview/preview-02.jpg" alt="")

			span.common__h3.catalogue-preview__label Томатная паста
