section.faq
	.faq__inner
		.faq__ask-question
			img.faq__ask-question-decor-image(src="images/decor-04.png" alt="")

			.faq__ask-question-inner
				h4.common__h4.faq__ask-question-heading Остались вопросы?
					.faq__ask-question-icon
						include ../../build/images/icons/icon-question-40.svg
				
				p.common__text.faq__ask-question-description Задайте их&nbsp;нашему специалисту. Оставьте заявку и&nbsp;мы&nbsp;свяжемся с&nbsp;вами в&nbsp;ближайшее время и&nbsp;ответим на&nbsp;все вопросы

				button.common__btn.faq__ask-question-btn Задать вопрос

		.faq__questions
			h2.common__h2.faq__heading Ответы на&nbsp;частые вопросы

			ul.faq__list
				li.faq__item
					.faq-item.js-faq-item
						button.faq-item__summary
							span.common__text.faq-item__heading Соответствует ли&nbsp;качество заявленному? Как проверить?

						.faq-item__description-wrapper.js-faq-description-wrapper
							.common__text.faq-item__description.js-faq-description
								p Продукция полностью соответствует всем санитарным нормам РФ, сертифицирована по&nbsp;ISO9002, HACCP - при запросе могут быть предоставлены документы. Также при заключении договора мы&nbsp;можем отправить образец продукции для дегустации.

				li.faq__item
					.faq-item.js-faq-item
						button.faq-item__summary
							span.common__text.faq-item__heading Есть ли&nbsp;гарантии поставок необходимого количество товара в&nbsp;срок по&nbsp;согласованной цене? Какие еще индивидуальные условия можно получить?

						.faq-item__description-wrapper.js-faq-description-wrapper
							.common__text.faq-item__description.js-faq-description
								p Ответ

				li.faq__item
					.faq-item.js-faq-item
						button.faq-item__summary
							span.common__text.faq-item__heading Возможны ли&nbsp;оперативные поставки за&nbsp;рубеж?

						.faq-item__description-wrapper.js-faq-description-wrapper
							.common__text.faq-item__description.js-faq-description
								p Ответ

				li.faq__item
					.faq-item.js-faq-item
						button.faq-item__summary
							span.common__text.faq-item__heading Есть ли&nbsp;декларация соответствия и&nbsp;протокол испытаний вашей продукции?

						.faq-item__description-wrapper.js-faq-description-wrapper
							.common__text.faq-item__description.js-faq-description
								p Ответ

				li.faq__item
					.faq-item.js-faq-item
						button.faq-item__summary
							span.common__text.faq-item__heading Какова минимальная партия поставки?

						.faq-item__description-wrapper.js-faq-description-wrapper
							.common__text.faq-item__description.js-faq-description
								p Ответ

				li.faq__item
					.faq-item.js-faq-item
						button.faq-item__summary
							span.common__text.faq-item__heading С&nbsp;какими производителями вы&nbsp;работаете?

						.faq-item__description-wrapper.js-faq-description-wrapper
							.common__text.faq-item__description.js-faq-description
								p Ответ

				li.faq__item
					.faq-item.js-faq-item
						button.faq-item__summary
							span.common__text.faq-item__heading Как узнать стоимость продукции и&nbsp;сроки поставки?

						.faq-item__description-wrapper.js-faq-description-wrapper
							.common__text.faq-item__description.js-faq-description
								p Ответ
