section.features
	ul.features__list
		li.features__item
			.features__item-info
				h3.common__h3.features__item-heading Являемся членом Российского союза производителей сока

				.common__text.common__text_medium.features__item-description
					p За 25 лет на рынке мы выстроили крепкие и долгосрочные отношения с лидерами отрасли. Наладили цепочки работы с мировыми производственными площадками, сертифицированными по международному стандарту пищевой безопасности, признанному GFSI (Global Food Safety Initiative).

			img.features__item-image(src="images/features/feature-01.jpg" alt="")

		li.features__item
			.features__item-info
				h3.common__h3.features__item-heading Наша миссия

				.common__text.common__text_medium.features__item-description
					p Наша миссия — воплощение лучших технологий и знаний, в каждом продукте, предоставление качественного сервиса для вашего бизнеса.

					p Мы принимаем на себя роль, которую общество ожидает от нас: поиск, переработку и доставку сельскохозяйственной продукции по всему миру — безопасно, надежно и ответственно.

			img.features__item-image(src="images/features/feature-02.jpg" alt="")

		li.features__item
			.features__item-info
				h3.common__h3.features__item-heading Высокие стандарты качества

				.common__text.common__text_medium.features__item-description
					p Чтобы соответствовать высоким стандартам качества наших клиентов, мы регулярно проводим аудиты наших поставщиков. 

					p Все производственные площадки работают в соответствии с обычными стандартами, такими как Надлежащая производственная практика (GMP) и Надлежащая гигиеническая практика (GHP). Процедуры соответствуют международным стандартам.

					p В дополнение к этому большинство производственных площадок сертифицированы в соответствии с системами, одобренными GSFI (Глобальная инициатива по безопасности пищевых продуктов).

			img.features__item-image(src="images/features/feature-03.jpg" alt="")