footer.footer
	.container
		.footer__outer
			.footer__inner
				.footer__credits
					.footer__logo
						a.footer__logo-link(href="/")
							img.footer__logo-image(src="images/logo-petrogroup.svg" alt="")

					span.common__text.common__text_small.footer__slogan Поставщик высокотехнологичных овощных и&nbsp;фруктовых ингредиентов для малого, среднего и&nbsp;крупного бизнеса

				.footer__contacts
					.footer__contacts-group
						span.common__text.common__text_medium.footer__contacts-label Производство

						ul.footer__contacts-list
							li.footer__contacts-item
								a.footer__contacts-link(href="tel:+78123201650") +7&nbsp;(812)&nbsp;320-16-50

							li.footer__contacts-item
								a.footer__contacts-link(href="mailto:pgrp@mail.ru" target="_blank") pgrp@mail.ru

					.footer__contacts-group
						span.common__text.common__text_medium.footer__contacts-label Отдел продаж

						ul.footer__contacts-list
							li.footer__contacts-item
								a.footer__contacts-link(href="+79214158341") +7&nbsp;(921)&nbsp;415-83-41

							li.footer__contacts-item
								a.footer__contacts-link(href="k.uss@pgrp.spb.ru" target="_blank") k.uss@pgrp.spb.ru

				nav.footer__nav
					ul.footer__nav-list
						li.footer__nav-item
							a.footer__nav-link(href="/") О&nbsp;компании

							ul.footer__nav-sublist
								li.footer__nav-item
									a.footer__nav-link(href="") Производство

								li.footer__nav-item
									a.footer__nav-link(href="/") Карьера

					ul.footer__nav-list
						li.footer__nav-item
							a.footer__nav-link(href="/") Каталог продукции

							ul.footer__nav-sublist
								li.footer__nav-item
									a.footer__nav-link(href="") Соки

								li.footer__nav-item
									a.footer__nav-link(href="") Пюре

								li.footer__nav-item
									a.footer__nav-link(href="") Томатная паста

					ul.footer__nav-list
						li.footer__nav-item
							a.footer__nav-link(href="") Сотрудничество

						li.footer__nav-item
							a.footer__nav-link(href="") Логистические решения

						li.footer__nav-item
							a.footer__nav-link(href="") Проекты

						li.footer__nav-item
							a.footer__nav-link(href="") Контакты
