header.header
	.container.header__container
		.header__inner.header__inner_short
			.header__logo
				.logo
					a.logo__link(href="/")
						img.logo__image(src="images/logo-petrogroup-body.svg" alt="")
						img.logo__leaf-image(src="images/logo-petrogroup-leaf.svg" alt="")

			.header__contact-us
				ul.header__contact-us-list
					li.header__contact-us-item
						a.header__contact-us-link(href="tel:+78123201650")
							include ../../build/images/icons/icon-phone-24.svg

					li.header__contact-us-links-item
						a.header__contact-us-link(href="mailto:pgrp@mail.ru" target="_blank")
							include ../../build/images/icons/icon-mail-24.svg

			button.header__burger.js-burger-btn
				.header__burger-line

		.header__inner.header__inner_full
			.header__credits
				.header__logo
					.logo
						a.logo__link(href="/")
							img.logo__image(src="images/logo-petrogroup-body.svg" alt="")
							img.logo__leaf-image(src="images/logo-petrogroup-leaf.svg" alt="")

				span.common__text.common__text_small.header__slogan Поставщик высокотехнологичных овощных и&nbsp;фруктовых ингредиентов для малого, среднего и&nbsp;крупного бизнеса

			.header__contacts
				ul.header__contacts-list
					li.header__contacts-item
						include ../../build/images/icons/icon-phone-24.svg

						a.header__contacts-link(href="tel:+78123201650") +7&nbsp;(812)&nbsp;320-16-50

					li.header__contacts-item
						include ../../build/images/icons/icon-mail-24.svg

						a.header__contacts-link(href="mailto:pgrp@mail.ru" target="_blank") pgrp@mail.ru

					li.header__contacts-item
						a.common__btn.header__bid-btn.js-bid-modal-btn Оставить заявку

			span.header__lang
				span.header__lang-current.js-lang-btn Ru
				
				.header__lang-list-wrapper
					.header__lang-list-overlay.js-lang-overlay

					ul.header__lang-list
						li.header__lang-item
							a.header__lang-link.header__lang-link_active(href="") Ru

						li.header__lang-item
							a.header__lang-link(href="") En

						li.header__lang-item
							a.header__lang-link(href="") Cn

			nav.header__nav
				ul.header__nav-list
					li.header__nav-item.header__nav-item_with-sublist
						ul.header__nav-sublist
							li.header__nav-item
								a.header__nav-link(href="/") Соки

							li.header__nav-item
								a.header__nav-link(href="/") Пюре

							li.header__nav-item
								a.header__nav-link(href="/") Томатная паста

						a.header__nav-link(href="/") Каталог

					li.header__nav-item.header__nav-item_with-sublist
						ul.header__nav-sublist
							li.header__nav-item
								a.header__nav-link(href="/") Производство

							li.header__nav-item
								a.header__nav-link(href="/") Карьера

						a.header__nav-link(href="/") О&nbsp;компании

					li.header__nav-item
						a.header__nav-link.header__nav-link_active(href="") Сотрудничество

					li.header__nav-item
						a.header__nav-link(href="") Логические решения

					li.header__nav-item
						a.header__nav-link(href="") Проекты