section.index-intro
	.index-intro__info
		h1.common__h1.index-intro__heading Фруктовые, ягодные и&nbsp;овощные пюре, концентрированные соки

		p.common__text.common__text_large.index-intro__description
			img.index-intro__decor-image(src="images/decor-01.png" alt="")
			|Оптовые продажи для бизнеса от&nbsp;ведущих российских и&nbsp;зарубежных производителей

	.index-intro__demo
		video.index-intro__demo-video(src="video/video.mp4")

		img.index-intro__logo(src="images/logo-petrogroup-white.svg" alt="")