section.inner-intro
  .inner-intro__info
    h1.common__h1.catalogue__heading О компании

    .common__text.common__text_large.catalogue__description
      p ООО&nbsp;«Петрогрупп» — производитель и&nbsp;поставщик высокотехнологичных натуральных ингредиентов и&nbsp;комплексных решений для малого, среднего и&nbsp;крупного бизнеса в&nbsp;индустрии продуктов питания и&nbsp;напитков