section.partners
	h3.common__h3.partners__heading Наши партнеры

	ul.partners__list
		li.partners__item
			img.partners__logo(src="images/partners/partner-01.png" alt="")

		li.partners__item
			img.partners__logo(src="images/partners/partner-02.png" alt="")

		li.partners__item
			img.partners__logo(src="images/partners/partner-03.png" alt="")

		li.partners__item
			img.partners__logo(src="images/partners/partner-04.png" alt="")

		li.partners__item
			img.partners__logo(src="images/partners/partner-05.png" alt="")

		li.partners__item
			img.partners__logo(src="images/partners/partner-06.png" alt="")
