.product-preview
	.product-preview__info
		span.common__text.common__text_large.product-preview__heading Яблочный сок

		ul.product-preview__tags
			li.common__tag.product-preview__tag Концентрированный

		ul.product-preview__details
			li.product-preview__detail
				span.product-preview__detail-label BRIX
				span.product-preview__detail-value 70 ± 1 °Bx

		ul.product-preview__countries
			li.product-preview__country Иран

				img.product-preview__contry-flag(src="images/flags/flag-04.svg" alt="")

	img.product-preview__image(src="images/products/product-01.jpg" alt="")