section.shipping
	img.shipping__map(src="images/map.svg" alt="")

	h2.common__h2.shipping__heading Откуда импортируем сырье

	.shipping__countries-slider.swiper-container.js-shipping-countries-swiper
		ul.shipping__countries-list.swiper-wrapper
			li.shipping__countries-item.swiper-slide
				button.shipping__countries-btn Россия

					img.shipping__countries-flag(src="images/flags/flag-01.svg" alt="")

			li.shipping__countries-item.swiper-slide
				button.shipping__countries-btn Тайланд

					img.shipping__countries-flag(src="images/flags/flag-02.svg" alt="")
		
			li.shipping__countries-item.swiper-slide
				button.shipping__countries-btn Китай

					img.shipping__countries-flag(src="images/flags/flag-03.svg" alt="")

			li.shipping__countries-item.swiper-slide
				button.shipping__countries-btn Иран

					img.shipping__countries-flag(src="images/flags/flag-04.svg" alt="")

			li.shipping__countries-item.swiper-slide
				button.shipping__countries-btn Азербайджан

					img.shipping__countries-flag(src="images/flags/flag-05.svg" alt="")

			li.shipping__countries-item.swiper-slide
				button.shipping__countries-btn Марокко

					img.shipping__countries-flag(src="images/flags/flag-06.svg" alt="")

			li.shipping__countries-item.swiper-slide
				button.shipping__countries-btn Армения

					img.shipping__countries-flag(src="images/flags/flag-07.svg" alt="")

			li.shipping__countries-item.swiper-slide
				button.shipping__countries-btn Италия

					img.shipping__countries-flag(src="images/flags/flag-08.svg" alt="")

			li.shipping__countries-item.swiper-slide
				button.shipping__countries-btn Узбекистан

					img.shipping__countries-flag(src="images/flags/flag-09.svg" alt="")
		
			li.shipping__countries-item.swiper-slide
				button.shipping__countries-btn Мексика

					img.shipping__countries-flag(src="images/flags/flag-10.svg" alt="")

			li.shipping__countries-item.swiper-slide
				button.shipping__countries-btn Вьетнам

					img.shipping__countries-flag(src="images/flags/flag-11.svg" alt="")

			li.shipping__countries-item.swiper-slide
				button.shipping__countries-btn Бразилия

					img.shipping__countries-flag(src="images/flags/flag-12.svg" alt="")

			li.shipping__countries-item.swiper-slide
				button.shipping__countries-btn Индия

					img.shipping__countries-flag(src="images/flags/flag-13.svg" alt="")

			li.shipping__countries-item.swiper-slide
				button.shipping__countries-btn Аргентина

					img.shipping__countries-flag(src="images/flags/flag-14.svg" alt="")
