.vacancy-preview.js-vacancy-preview
	.vacancy-preview__info-wrapper.js-hidden-content-container
		.vacancy-preview__info.js-hidden-content
			h3.common__h3.vacancy-preview__heading Управление заводом

			.common__text.vacancy-preview__description
				p Управляющие заводом занимаются планированием, управлением и оптимизацией всех производственных процессов на оперативном уровне, постоянно взаимодействуя с начальниками смен и производственными бригадами. Управляющие обеспечивают бесперебойную работу производства, эффективно используя человеческие ресурсы, производственные мощности и сырье

			.vacancy-preview__details
				.vacancy-preview__details-group
					h5.common__h5.vacancy-preview__details-group-heading Обязанности:

					ul.vacancy-preview__details-list
						li.vacancy-preview__details-item Прямое руководство подчиненными
						li.vacancy-preview__details-item Ведение складского учета в 1с
						li.vacancy-preview__details-item Оптимизация производственных процессов
						li.vacancy-preview__details-item Закупки
						li.vacancy-preview__details-item Контроль отгрузок и поставок
						li.vacancy-preview__details-item Контроль качества производимой продукции

				.vacancy-preview__details-group
					h5.common__h5.vacancy-preview__details-group-heading Условия:

					ul.vacancy-preview__details-list
						li.vacancy-preview__details-item График работы: с пн по пт с 9 до 18
						li.vacancy-preview__details-item  Оформление по ТК РФ
						li.vacancy-preview__details-item  Период отпусков весна - лето
						li.vacancy-preview__details-item  Лояльное руководство
						li.vacancy-preview__details-item Возможность карьерного роста до Директора по производству

		button.common__btn.common__btn_gray.vacancy-preview__toggle-btn.js-toggle-btn Подробнее

	.vacancy-preview__actions
		img.vacancy-preview__image(src="images/vacancy/vacancy-01.jpg" alt="")

		.vacancy-preview__salary-and-cv-btn
			span.vacancy-preview__salary от 180 000 ₽ на руки

			button.common__btn.common__btn_green.vacancy-preview__cv-btn.js-cv-modal-btn Отправить резюме
