.collab
  display flex
  flex-direction column
  padding 80px 0 8px
  gap 144px

  @media $tablet-landscape-medium
    padding 40px 0 8px
    gap 56px

  &__benefits
    margin -306px auto 0

    @media $tablet-landscape-medium
      margin 0 auto

  &__process
    margin -29px 0 0

    @media $tablet-landscape-medium
      margin 6px 0 0

    @media $phone
      margin 4px 0 0

  &__contact-us
    margin -26px 0 0

    @media $tablet-landscape-medium
      margin 4px 0 0

  &__faq
    @media $tablet-landscape-medium
      margin 16px 0 0
