.company
  display flex
  flex-direction column
  padding 80px 0 8px
  gap 144px

  @media $tablet-landscape-medium
    padding 40px 0 8px
    gap 56px

  &__achieves
    position relative
    margin -240px 0 0

    @media $tablet-landscape-large
      margin -247px 0 0

    @media $tablet-landscape-medium
      margin 0

    &-container
      @media $tablet-landscape-medium
        width 100%

  &__benefits
    margin -28px 0 0

    @media $tablet-landscape-medium
      margin 3px 0 0

  &__partners
    @media $tablet-landscape-medium
      margin 17px 0 0