.index
  display flex
  flex-direction column
  padding 113px 0 8px
  gap 144px
  overflow hidden

  @media $tablet-landscape-large
    padding 112px 0 8px

  @media $tablet-portrait-large
    padding 56px 0 8px
    gap 72px

  &__catalogue-preview
    position relative
    z-index 1

  &__partners
    @media $tablet-landscape-large
      margin 1px 0 0
