.index
  display flex
  flex-direction column
  padding 112px 0 8px
  gap 144px

  &__catalogue-preview
    position relative
    z-index 1

  &__catalogue-preview-container,
  &__shipping-container
    max-width 1600px