.index
  display flex
  flex-direction column
  padding 113px 0 8px
  gap 144px
  overflow hidden

  @media $tablet-landscape-large
    padding 112px 0 8px

  @media $tablet-portrait-large
    padding 56px 0 8px
    gap 72px

  &__intro
    &-container
      @media $tablet-portrait-large
        width calc(100% - 80px)

  &__catalogue-preview
    position relative
    z-index 1

  &__catalogue-preview-container,
  &__shipping-container
    width calc(100% - 80px)
    max-width 1600px

  &__partners
    @media $tablet-landscape-large
      margin 1px 0 0

    &-container
      @media $tablet-portrait-large
        width calc(100% - 80px)