.projects
  position relative
  display flex
  flex-direction column
  padding 112px 0 8px
  gap 112px
  overflow hidden

  @media $tablet-landscape-medium
    padding 56px 0 8px
    gap 56px

  &__container
    @media $tablet-landscape-medium
      width 100%

  &__group
    display flex
    flex-direction column
    gap 48px

  &__list
    display grid
    grid-template-columns repeat(3, 1fr)
    width 100%
    gap 12px

    @media $tablet-landscape-medium
      grid-template-columns repeat(2, 1fr)

    @media $phone
      grid-template-columns 100%

  &__benefits
    margin 4px 0 0

  &__faq
    @media $tablet-landscape-large
      margin 32px 0 0

    @media $tablet-landscape-medium
      margin 16px 0 0
