.vacancy
  display flex
  flex-direction column
  padding 80px 0 8px
  gap 144px

  &__container
    position relative
    max-width 1600px
    margin -240px auto 0

  &__list
    display flex
    flex-direction column
    gap 16px

  &__review
    margin -28px 0 0
    overflow hidden

    &-container
      max-width 1600px

  &__employer
    &-container
      max-width 1600px

  &__benefits
    margin -29px 0 0