.vacancy
  display flex
  flex-direction column
  padding 80px 0 8px
  gap 144px

  &__container
    position relative
    max-width 1600px
    margin -240px auto 0

  &__inner
    display flex
    gap 24px

  &__nav
    flex-shrink 0
    width 382px
    padding 2px
    background-color $gray-soft
    border 2px solid $white
    border-radius 16px

    &-list
      display flex
      flex-direction column
      gap 2px

    &-btn
      width 100%
      padding 12px 16px
      font-size 22px
      line-height 29px
      font-weight 400
      color $graphite
      text-align left
      background-color $gray-soft
      border-radius 12px
      cursor pointer
      transition background-color .5s 0s ease, color .5s 0s ease

      &:hover,
      &_active
        color $green
        background-color $white

  &__list
    display flex
    flex-direction column
    gap 16px

  &__review
    &-container
      max-width 1600px

  &__employer
    &-container
      max-width 1600px