.vacancy
  display flex
  flex-direction column
  padding 80px 0 8px
  gap 144px

  @media $tablet-landscape-medium
    padding 40px 0 8px
    gap 56px

  &__container
    position relative
    width calc(100% - 80px)
    max-width 1600px
    margin -240px auto 0

    @media $tablet-landscape-medium
      margin 0 auto

    @media $phone
      width calc(100% - 32px)

  &__list
    display flex
    flex-direction column
    gap 16px

    @media $tablet-landscape-medium
      display grid
      grid-template-columns repeat(2, 1fr)

    @media $phone
      grid-template-columns 100%

  &__review
    margin -28px 0 0
    overflow hidden

    @media $tablet-landscape-medium
      margin 0

    &-container
      width calc(100% - 80px)
      max-width 1600px

      @media $phone
        width calc(100% - 32px)

  &__employer
    &-container
      width calc(100% - 80px)
      max-width 1600px

      @media $phone
        width calc(100% - 32px)

  &__benefits
    margin -29px 0 0

    @media $tablet-landscape-medium
      margin 0

    &-container
      width 100%