doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
		link(rel="stylesheet" href="style/normalize.css" type="text/css")
		link(rel="stylesheet" href="style/swiper.css" type="text/css")
		link(rel="stylesheet" href="style/main.css" type="text/css")
		title Петрогрупп

	body
		//= partials/header.pug
					
		main.main
			include ../../build/images/sign-petrogroup.svg

			.catalogue
				.catalogue__intro
					.container.container_narrow
						.intro.intro_no-bg

							.intro__inner
								h1.common__h1.intro__heading Соки и&nbsp;концентрированные соки

				.container.container_narrow.catalogue__container
					.catalogue__inner

						.catalogue__tabs
							.tabs.js-scroll-tabs
								.tabs__list-wrapper
									ul.tabs__list
										li.tabs__item
											button.tabs__btn.js-tab-btn(data-key="fruit") Фруктовые
												include ../../build/images/icons/icon-fruit-40.svg

										li.tabs__item
											button.tabs__btn.js-tab-btn(data-key="berry") Ягодные
												include ../../build/images/icons/icon-berry-40.svg

						#fruit.catalogue__group(data-key="fruit")
							h3.common__h3.catalogue__group-heading Фруктовые концентрированные соки

							ul.catalogue__list
								li.catalogue__item
									//= partials/product-preview.pug

								li.catalogue__item
									//= partials/product-preview.pug

								li.catalogue__item
									//= partials/product-preview.pug

						#berry.catalogue__group(data-key="berry")
							h3.common__h3.catalogue__group-heading Ягодные концентрированные соки

							ul.catalogue__list
								li.catalogue__item
									//= partials/product-preview.pug

								li.catalogue__item
									//= partials/product-preview.pug

								li.catalogue__item
									//= partials/product-preview.pug

				.common__line

				.catalogue__benefits
					.container.container_desktop-only
						//= partials/benefits-no-bg.pug

				.catalogue__faq
					.container
						//= partials/faq.pug

		//= partials/footer.pug

		//= partials/modal/bid-modal.pug
		//= partials/modal/cv-modal.pug

		script(src="script/vendor.js" type="text/javascript")

		script(src="script/script.js")
