doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
		link(rel="stylesheet" href="style/normalize.css" type="text/css")
		link(rel="stylesheet" href="style/swiper.css" type="text/css")
		link(rel="stylesheet" href="style/main.css" type="text/css")
		title Петрогрупп

	body
		//= partials/header.pug
					
		main.main
			.collab
				.collab__intro
					.container.collab__intro-container
						.intro
							img.intro__image(src="images/decor-10.jpg" alt="")

							.intro__inner
								h1.common__h1.common__h1_accent.intro__heading Сотрудничество

				.collab__benefits
					.container.collab__benefits-container
						section.benefits.benefits_no-bg
							.benefits__inner
								.benefits__list-wrapper
									ul.benefits__list
										li.benefits__item
											.benefits__icon
												include ../../build/images/icons/icon-quality-40.svg

											h5.common__h5.benefits__label Премиальное качество

											p.common__text.benefits__description Асептическое производство и фасовка. Более 50 наименований товаров, прошедших проверку на требования всех действующих стандартов на территории РФ

										li.benefits__item
											.benefits__icon
												include ../../build/images/icons/icon-availability-40.svg

											h5.common__h5.benefits__label Постоянное наличие

											p.common__text.benefits__description На основании прогнозирования происходят плановые закупки, чтобы сырье всегда было в наличии (в том числе и импортное сырье)

										li.benefits__item
											.benefits__icon
												// include ../../build/images/icons/icon-microscope-40.svg

											h5.common__h5.benefits__label Контроль качества

											p.common__text.benefits__description Собственные испытательные лаборатории и многолетнее сотрудничество со сторонними аккредитованными лабораториями по всей России

										li.benefits__item
											.benefits__icon
												include ../../build/images/icons/icon-payment-40.svg

											h5.common__h5.benefits__label Комфортные условия оплаты

											p.common__text.benefits__description Гибкая ценовая политика для наших клиентов (предоплата, отсрочка, товарный кредит)

				.collab__about-production
					.container.collab__about-production-container
						.cards
							h2.common__h2.cards__heading Контрактное производство

							.common__text.common__text_large.cards__description
								p От сырья и упаковки до конечного продукта

							ul.cards__list
								li.cards__item
									.cards__item-info
										h4.common__h4.cards__item-heading Использование производственных площадок компании для организации полного цикла производства продукта под брендом клиента

										.common__text.common__text_medium.cards__item-description
											ul
												li #[em Подбор сырья]#[br] Профессиональный подбор сырья под требования клиента

												li #[em Подбор упаковки]#[br] Выберем лучший вариант для готового продукта клиента от проверенных производителей

												li #[em Производство]#[br] Асептическое производство и фасовка

												li #[em Собственная пищевая лаборатория]#[br] Услуги лаборатории для купажирования и блендирования продуктов. Разработка и адаптация рецептур для блендов сырья

												li #[em Сертификация]#[br] Сертификация продукции и проверка на требования всех действующих стандартов на территории РФ

												li #[em Хранение]#[br] Создание стока продукции и хранение в удобном для клиента регионе

												li #[em Доставка]#[br] Решение всех логистических вопросов (в том числе таможенное оформление)

									img.cards__item-image(src="images/decor-07.jpg" alt="")

				.collab__process
					.container.collab__process-container
						section.steps.steps_inline
							h2.common__h2.steps__heading Как мы работаем

							.steps__list-wrapper
								ul.steps__list.steps__list_cols-3
									li.steps__item
										span.steps__index 1

										h5.common__h5.steps__item-heading Отдел продаж

										.common__text.steps__item-description
											ul
												li Обработка запроса от потенциального клиента.

												li Проверка на складах/заводах доступной продукции. В случаях наличия сырья — составление КП, участие в тендере.

												li Отправка образца продукции, согласование цен и условий поставки.
	
												li Подписание договора, оплата.

									li.steps__item
										span.steps__index 2

										h5.common__h5.steps__item-heading Логистический отдел

										.common__text.steps__item-description
											ul
												li Отгрузка со складов (7 по РФ), либо с завода, либо осуществляется прямая поставка от производителя с других стран (например, доставка апельсинов из Бразилии).

												li Доставка с использованием автотранспорта (20 тонн) или Ж/Д контейнеров.

									li.steps__item
										span.steps__index 3

										h5.common__h5.steps__item-heading Отдел контроля качества

										.common__text.steps__item-description
											p Оперативная и объективная работа с рекламациями. Каждая претензия по качеству ведет за собой тщательный анализ по всей цепочке жизнедеятельности продукта совместно с производителем этого сырья.

				.collab__contact-us
					.container
						section.contact-us
							include ../../build/images/icons/icon-message-160.svg

							.contact-us__inner
								.contact-us__info
									include ../../build/images/icons/icon-message-160.svg

									h2.common__h2.contact-us__heading Подай заявку на сотрудничество

									.common__text.common__text_large.contact-us__description
										p Партнерство между компаниями — ключевой элемент успешной бизнес-деятельности в&nbsp;современном мире
										
										p Мы&nbsp;заинтересованы в&nbsp;долгосрочном взаимовыгодном сотрудничестве и&nbsp;открыты к&nbsp;различным предложениям для совместной работы

								.contact-us__bid
									.bid
										.bid__form
											form.form.js-form
												.form__inner
													.form__section
														h4.common__h4.form__section-heading Что вас интересует?
															span.asterisk *

														.form__item.js-form-item(data-req data-type='checkboxGroup')
															.form__cols-2
																label.checkbox
																	input.checkbox__default(type='checkbox')

																	.checkbox__custom

																	span.checkbox__label Закупка соков/пюре

																label.checkbox
																	input.checkbox__default(type='checkbox')

																	.checkbox__custom

																	span.checkbox__label Ингредиенты

																label.checkbox
																	input.checkbox__default(type='checkbox')

																	.checkbox__custom

																	span.checkbox__label Продажа соков/пюре

																label.checkbox
																	input.checkbox__default(type='checkbox')

																	.checkbox__custom

																	span.checkbox__label Упаковка

																label.checkbox
																	input.checkbox__default(type='checkbox')

																	.checkbox__custom

																	span.checkbox__label Применение продукта

																label.checkbox
																	input.checkbox__default(type='checkbox')

																	.checkbox__custom

																	span.checkbox__label Контрактное производство

																label.checkbox
																	input.checkbox__default(type='checkbox')

																	.checkbox__custom

																	span.checkbox__label Логистические решения

																label.checkbox
																	input.checkbox__default(type='checkbox')

																	.checkbox__custom

																	span.checkbox__label Другое

													.form__section
														h4.common__h4.form__section-heading Представьтесь, пожалуйста

														.form__cols-2
															.form__item.js-form-item(data-req data-type='name')
																label.label Имя
																	span.asterisk *
																input.input(type='text')

															.form__item.js-form-item(data-req data-type='phone')
																label.label Телефон
																	span.asterisk *
																input.input(type='text')

															.form__item.js-form-item(data-type='email')
																label.label Email
																input.input(type='text')

															.form__item
																label.label Город
																input.input(type='text')

														.form__item
															label.label Название компании
															input.input(type='text')

													.form__section
														h4.common__h4.form__section-heading Комментарий

														textarea.textarea

													.form__section
														h4.common__h4.form__section-heading Прикрепите файл

														label.file-uploader
															input.file-uploader__default(type='file')

															span.common__btn.common__btn_gray.common__btn_small.file-uploader__custom Выберите файл

															span.file-uploader__file-label Файл не выбран

													.form__actions
														.form__item.js-form-item(data-req data-type='checkbox')
															label.checkbox
																input.checkbox__default(type='checkbox')

																.checkbox__custom

																span.checkbox__label Я согласен с #[a.checkbox__link(href='' target='_blank') обработкой персональных данных]

														button.common__btn.form__submit-btn.js-submit-btn(type='submit') Оставить заявку

				.collab__faq
					.container
						//= partials/faq.pug

		//= partials/footer.pug

		//= partials/modal/bid-modal.pug
		//= partials/modal/cv-modal.pug

		script(src="script/vendor.js" type="text/javascript")

		script(src="script/script.js")
