doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
		link(rel="stylesheet" href="style/normalize.css" type="text/css")
		link(rel="stylesheet" href="style/swiper.css" type="text/css")
		link(rel="stylesheet" href="style/main.css" type="text/css")
		title Петрогрупп

	body
		//= partials/header.pug
					
		main.main
			.company
				.company__intro
					.container.company__intro-container
						.intro
							img.intro__image(src="images/decor-05.jpg" alt="")

							.intro__inner
								h1.common__h1.common__h1_accent.intro__heading О&nbsp;компании

								.common__text.common__text_large.intro__description
									p ООО&nbsp;«Петрогрупп» — производитель и&nbsp;поставщик высокотехнологичных натуральных ингредиентов и&nbsp;комплексных решений для малого, среднего и&nbsp;крупного бизнеса в&nbsp;индустрии продуктов питания и&nbsp;напитков

				.company__achieves
					.container.container_narrow.company__achieves-container
						//= partials/achieves.pug

				.company__features
					.container.container_narrow-mobile
						//= partials/features.pug

				.common__line
														
				.company__benefits
					//= partials/benefits-no-bg.pug

				.company__partners
					.container
						//= partials/partners.pug

				.company__faq
					.container
						//= partials/faq.pug

		//= partials/footer.pug

		//= partials/modal/bid-modal.pug
		//= partials/modal/cv-modal.pug

		script(src="script/vendor.js" type="text/javascript")

		script(src="script/script.js")
