doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		link(rel="stylesheet" href="style/normalize.css")
		link(rel="stylesheet" href="style/main.css")
		title Петрогрупп
	body
		main
			section
				p
					a(href="index.html")
						|Главная

				p
					a(href="company.html")
						|Компания

				p
					a(href="catalogue.html")
						|Каталог

				p
					a(href="vacancy.html")
						|Карьера

				p
					a(href="production.html")
						|Производство

				p
					a(href="collab.html")
						|Сотрудничество

				p
					a(href="projects.html")
						|Проекты

				p
					a(href="project.html")
						|Проект
