doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
		link(rel="stylesheet" href="style/normalize.css" type="text/css")
		link(rel="stylesheet" href="style/swiper.css" type="text/css")
		link(rel="stylesheet" href="style/main.css" type="text/css")
		title Петрогрупп

	body
		//= partials/header.pug
					
		main.main
			.vacancy
				.vacancy__intro
					.container.vacancy__intro-container
						.intro
							img.intro__image(src="images/decor-06.jpg" alt="")

							.intro__inner
								h1.common__h1.common__h1_accent.intro__heading Карьера

								.common__text.common__text_large.intro__description
									p Узнайте больше о наших рабочих направлениях, чтобы понять, какая из них вам больше всего подходит

				.container.vacancy__container
					.vacancy__inner
						.vacancy__tabs
							.tabs.tabs_sidebar.js-tabs
								ul.tabs__list
									li.tabs__item
										button.tabs__btn.tabs__btn_active.js-tab-btn(data-key="management") Управление заводом

									li.tabs__item
										button.tabs__btn.js-tab-btn(data-key="production") Производство

									//- li.tabs__item
									//- 	button.tabs__btn.js-tab-btn(data-key="innovation") Разработка новых продуктов

									//- li.tabs__item
									//- 	button.tabs__btn.js-tab-btn(data-key="quality") Контроль качества продукции

									//- li.tabs__item
									//- 	button.tabs__btn.js-tab-btn(data-key="purchase") Закупки

									//- li.tabs__item
									//- 	button.tabs__btn.js-tab-btn(data-key="sales") Продажи

									//- li.tabs__item
									//- 	button.tabs__btn.js-tab-btn(data-key="merketing") Маркетинг

									//- li.tabs__item
									//- 	button.tabs__btn.js-tab-btn(data-key="logostic") Логистика

									//- li.tabs__item
									//- 	button.tabs__btn.js-tab-btn(data-key="analytics") Контроль и аналитика

									//- li.tabs__item
									//- 	button.tabs__btn.js-tab-btn(data-key="accounting") Бухгалтерия

									//- li.tabs__item
									//- 	button.tabs__btn.js-tab-btn(data-key="it") Информационные технологии

									//- li.tabs__item
									//- 	button.tabs__btn.js-tab-btn(data-key="hr") Кадровые ресурсы

								.tabs__content.js-tab-content
									.tabs__content-item.tabs__content-item_active.vacancy__list.js-tab-content-item(data-key="management")
										ul.vacancy__list
											li.vacancy__item 
												//= partials/vacancy-preview.pug

											li.vacancy__item 
												//= partials/vacancy-preview.pug

											li.vacancy__item 
												//= partials/vacancy-preview.pug

									.tabs__content-item.js-tab-content-item(data-key="production")
										ul.vacancy__list
											li.vacancy__item 
												//= partials/vacancy-preview.pug

											li.vacancy__item 
												//= partials/vacancy-preview.pug
														
				.vacancy__benefits
					.container.vacancy__benefits-container
						section.benefits.benefits_no-bg
							.benefits__inner
								h2.common__h2.benefits__heading Что вас ждет в&nbsp;ООО&nbsp;«Петрогрупп»

								.benefits__list-wrapper
									ul.benefits__list
										li.benefits__item
											.benefits__icon
												include ../../build/images/icons/icon-quality-40.svg

											span.common__text.common__text_mediumn.benefits__label Белая зарплата

											p.common__text.benefits__description Точная сумма зависит от ваших навыков и ожиданий — обсудим их на собеседовании. Официальное трудоустройство по ТК РФ

										li.benefits__item
											.benefits__icon
												include ../../build/images/icons/icon-availability-40.svg

											span.common__text.common__text_mediumn.benefits__label Бесплатная страховка

											p.common__text.benefits__description Здоровье превыше всего. Вам будет доступна бесплатная страховка здоровья и корпоративный психолог

										li.benefits__item
											.benefits__icon
												// include ../../build/images/icons/icon-microscope-40.svg

											span.common__text.common__text_mediumn.benefits__label График работы 5/2

											p.common__text.benefits__description Пятидневная рабочая неделя с  гибким началом и окончанием дня (по согласованию)

										li.benefits__item
											.benefits__icon
												include ../../build/images/icons/icon-payment-40.svg

											span.common__text.common__text_mediumn.benefits__label Бесплатное обучение

											p.common__text.benefits__description Вам будет доступно корпоративное обучение, также вы сможете посещать профессиональные конференции за счет компании

										li.benefits__item
											.benefits__icon
												include ../../build/images/icons/icon-signature-40.svg

											span.common__text.common__text_mediumn.benefits__label Возможность подработки

											p.common__text.benefits__description Ваша зарплата зависит от количества смен, всегда есть возможность согласовать дополнительные подработки

										li.benefits__item
											.benefits__icon
												include ../../build/images/icons/icon-production-40.svg

											span.common__text.common__text_mediumn.benefits__label Корпоративная жизнь

											p.common__text.benefits__description Мы постоянно проводим различные мероприятия: спортивные тренинги, гастрономические вечера и грандиозные корпоративы

										li.benefits__item
											.benefits__icon
												include ../../build/images/icons/icon-timer-40.svg

											span.common__text.common__text_mediumn.benefits__label Оплачиваемый отпуск

											p.common__text.benefits__description После шести месяцев работы с момента трудоустройства вам будет доступен оплачиваемый отпуск

										li.benefits__item
											.benefits__icon
												// include ../../build/images/icons/icon-truck-40.svg

											span.common__text.common__text_mediumn.benefits__label Совмещение с учебой

											p.common__text.benefits__description Мы особо ценим наших молодых сотрудников, именно поэтому позволяем совмещать работу с учебой

				.vacancy__review
					.container.vacancy__review-container
						.review
							h2.common__h2.review__heading Опыт наших сотрудников

							.common__text.common__text_large.review__description Вам интересно, каково это — работать в Петрогрупп? Узнайте, что наши сотрудники говорят о своей работе и культуре нашей компании!

							.review__pagination
								button.review__pagination-btn.js-review-swiper-btn-prev
									include ../../build/images/icons/icon-arrow-left-16.svg

								button.review__pagination-btn.js-review-swiper-btn-next
									include ../../build/images/icons/icon-arrow-right-16.svg

							.review__slider.swiper-container.js-review-swiper
								ul.review__slider-list.swiper-wrapper
									li.review__slider-item.swiper-slide
										.review-preview
											img.review-preview__image(src="images/review/review-01.jpg" alt="")

											.review-preview__info
												h5.common__h5.review-preview__author Илья Васильев

												span.common__text.common__text_small.review-preview__position Менеджер продаж

												.common__text.review-preview__description
													p «У нас достаточно слаженный и ответственный коллектив. Отношение к сотрудникам, условия отдыха и питания, организация работы на производстве на высоком уровне, все делается строго по регламменту.#[br]Доставка сотрудников к месту работы также является большим плюсом, т.к. это способствует формированию слаженного коллектива, поскольку обеспечивает комфортные условия труда и позволяет сотрудникам экономить время и деньги на дорогу»

									li.review__slider-item.swiper-slide
										.review-preview
											img.review-preview__image(src="images/review/review-02.jpg" alt="")

											.review-preview__info
												h5.common__h5.review-preview__author Алексей Петров

												span.common__text.common__text_small.review-preview__position Технический директор

												.common__text.review-preview__description
													p «Качество нашей продукции - наш главный приоритет. Мы постоянно работаем над улучшением технологий и процессов, чтобы обеспечить нашим клиентам только лучшее»

									li.review__slider-item.swiper-slide
										.review-preview
											img.review-preview__image(src="images/review/review-03.jpg" alt="")

											.review-preview__info
												h5.common__h5.review-preview__author Игнат Петрович

												span.common__text.common__text_small.review-preview__position Отдел кадров

												.common__text.review-preview__description
													p «Эффективное взаимодействие между отделами и командами является ключом к успеху компании. Мы стараемся создавать поддерживающую атмосферу и способствовать развитию каждого сотрудника.#[br]Проведение обучающих мероприятий и мастер-классов помогает нашим сотрудникам быть в курсе последних тенденций и улучшать свои профессиональные навыки»

				.vacancy__employer
					.container.vacancy__employer-container
						.cards
							ul.cards__list
								li.cards__item
									.cards__item-info
										h3.common__h3.cards__item-heading Воплощение лучших знаний и технологий в каждом нашем продукте

										.common__text.common__text_medium.cards__item-description
											ul
												li Мы являемся одним из крупнейших поставщиков высококачественных ингредиентов для продуктов питания и напитков.

												li Являемся членом Российского союза Производителей соков.

												li Удовлетворяем требования наших клиентов к качеству посредством постоянного и последовательного мониторинга и дальнейшего развития нашей продукции.

												li Чтобы соответствовать высоким стандартам качества наших клиентов и партнеров мы регулярно проводим аудиты наших поставщиков.

												li Нивелируем дефицит сырья на рынке. С 2015 г. по настоящее время реализовали более 1 305 254 тонн сырья.

												li Локализуем производство сырья в РФ. Стремимся не зависеть от зарубежных поставок.

									img.cards__item-image(src="images/decor-07.jpg" alt="")

				.vacancy__faq
					.container
						//= partials/faq.pug

		//= partials/footer.pug

		//= partials/modal/bid-modal.pug
		//= partials/modal/cv-modal.pug

		script(src="script/vendor.js" type="text/javascript")

		script(src="script/script.js")
