$mbp = "MabryPro"
$stlz = "Stolzl"

$white = #FFFFFF
$black = #000000
$graphite = #151515
$gray = #F3F3F3
$gray-soft = #E6E9E8
$gray-deep = #8E8E8E
$green = #056C45
$green-poison = #03EB93
$orange = #FF5E14
$red = #FF0037

$desktop-medium = "(max-width: 1680px)"
$desktop-small = "(max-width: 1580px)"
$laptop = "(max-width: 1480px)"
$tablet-landscape-large = "(max-width: 1300px)"
$tablet-landscape-medium = "(max-width: 1200px)"
$tablet-landscape-small = "(max-width: 1100px)"
$tablet-portrait-large = "(max-width: 1024px)"
$tablet-portrait-small = "(max-width: 768px)"
$phone = "(max-width: 600px)"