$mbp = 'MabryPro'
$stlz = 'Stolzl'

$white = #FFFFFF
$black = #000000
$graphite = #151515
$asphalt = #454545
$gray = #F3F3F3
$gray-soft = #E6E9E8
$gray-deep = #8E8E8E
$gray-light = #C9CBCA
$green = #056C45
$green-dark = #074B31
$green-poison = #03EB93
$green-toxic = #03CE81
$green-ease = #DAEBE5
$orange = #FF5E14
$orange-deep = #E9530F
$red = #FF0037

$desktop-only = '(min-width: 1161px)'
$tablet-landscape-large = '(max-width: 1300px)'
$tablet-landscape-medium = '(max-width: 1160px)'
$phone = '(max-width: 660px)'
$phone-small = '(max-width: 359px)'