@font-face
	font-family: 'Stolzl'
	src: url('../fonts/Stolzl-Regular.woff2') format('woff2')
	font-weight: 400
	font-style: normal

@font-face
	font-family: 'MabryPro'
	src: url('../fonts/MabryPro-Regular.woff2') format('woff2')
	font-weight: 400
	font-style: normal

@import 'helpers/vars.styl'
@import 'partials/common.styl'

*
	box-sizing border-box

html
	font-family $mbp

body
	display flex
	flex-direction column
	min-height 100vh
	padding 24px 0 16px
	background-color $gray

	@media $tablet-landscape-medium
		padding 8px 0 16px

ul,
ol
	margin 0
	padding 0
	list-style-type none

li
	margin 0
	padding 0

button
	padding 0
	border none
	background none

.main
	position relative
	flex-grow 1

	& > svg
		position absolute
		top -62px
		left -473px
		display block
		width 1093px
		height 1170px
		opacity .5
		stroke $green-ease

		@media $tablet-landscape-medium
			top 23px
			left -267px
			width 589px
			height 630px

.container
	width calc(100% - 32px)
	max-width 1888px
	margin 0 auto

	@media $tablet-landscape-medium
		width calc(100% - 16px)

	&_alternate
		@media $tablet-landscape-medium
			width calc(100% - 32px)

	&_narrow
		width calc(100% - 80px)
		max-width 1600px

		@media $phone
			width calc(100% - 32px)

	&_narrow-mobile
		@media $tablet-landscape-medium
			width calc(100% - 80px)

		@media $phone
			width calc(100% - 32px)

	&_desktop-only
		width calc(100% - 80px)
		max-width 1600px

		@media $tablet-landscape-medium
			width 100%

@import 'partials/header.styl'
@import 'partials/footer.styl'
@import 'partials/index-intro.styl'
@import 'partials/catalogue-preview.styl'
@import 'partials/shipping.styl'
@import 'partials/benefits.styl'
@import 'partials/partners.styl'
@import 'partials/faq.styl'
@import 'partials/faq-item.styl'
@import 'partials/product-preview.styl'
@import 'partials/tabs.styl'
@import 'partials/achieves.styl'
@import 'partials/features.styl'
@import 'partials/intro.styl'
@import 'partials/cards.styl'
@import 'partials/vacancy-preview.styl'
@import 'partials/review.styl'
@import 'partials/review-preview.styl'
@import 'partials/modal.styl'
@import 'partials/bid.styl'
@import 'partials/cv.styl'
@import 'partials/form.styl'
@import 'partials/steps.styl'
@import 'partials/project-preview.styl'
@import 'partials/contact-us.styl'
@import 'partials/counter.styl'
@import 'partials/announcement.styl'

@import 'views/index.styl'
@import 'views/company.styl'
@import 'views/catalogue.styl'
@import 'views/vacancy.styl'
@import 'views/collab.styl'
@import 'views/production.styl'
@import 'views/projects.styl'
@import 'views/project.styl'
@import 'views/contacts.styl'
@import 'views/logistics.styl'
