.achieves
  &__list
    display grid
    grid-template-columns repeat(4, 1fr)
    gap 8px

  &__item
    display flex
    flex-direction column
    min-height 210px
    padding 13px 24px 24px
    gap 10px
    border-radius 16px
    background-color $white

  &__item-value
    font-size 56px
    line-height 62px
    font-weight 400
    color $green