.benefits
  position relative
  padding 80px 24px
  border-radius 16px
  background-image url("../images/decor-02.jpg")
  background-size cover
  background-position center

  @media $tablet-landscape-medium
    padding 80px 0 32px
    overflow hidden
    
  @media $phone
    padding 80px 0 32px

  &_no-bg
    padding 0
    background none
    border-radius 0

  &__inner
    display flex
    flex-direction column
    max-width 1600px
    margin 0 auto
    gap 80px

    @media $tablet-landscape-medium
      gap 32px

  &__heading
    width calc(50% - 4px)
    color $white

    @media $tablet-landscape-medium
      padding 0 0 0 32px

    @media $phone
      width 100%
      padding 0 0 0 16px

  &__list-wrapper
    width 100%
    overflow-x auto
    -ms-overflow-style none
    scrollbar-width none

    &::-webkit-scrollbar
      display none

    @media $tablet-landscape-medium
      display flex

    &::after
      content ''
      display none

      @media $tablet-landscape-medium
        flex-shrink 0
        display block
        width 32px

      @media $phone
        width 16px

  &__list
    display grid
    grid-template-columns repeat(4, 1fr)
    gap 8px

    @media $tablet-landscape-medium
      display flex
      padding 0 0 0 32px

    @media $phone
      padding 0 0 0 16px

  &__item
    display flex
    flex-direction column
    padding 24px
    gap 12px
    border-radius 16px
    background-color rgba(255, 255, 255, .9)

    @media $tablet-landscape-large
      padding 24px 24px 25px
      gap 11px

    @media $tablet-landscape-medium
      flex-shrink 0
      width 296px
      min-width auto
      padding 16px

  &__icon
    & svg
      display block
      width 40px
      height 40px
      stroke-width 2px
      stroke $green

  &__label
    color $green

  &__description
    @media $tablet-landscape-large
      margin 1px 0 0

.benefits_no-bg
  & .benefits__heading
    color $graphite

    @media $tablet-landscape-medium
      padding 0 0 0 40px

    @media $phone
      padding 0 0 0 16px

  & .benefits__list-wrapper
    &::after
      @media $tablet-landscape-medium
        width 40px

      @media $phone
        width 16px

  & .benefits__list
    @media $tablet-landscape-medium
      padding 0 0 0 40px

    @media $phone
      padding 0 0 0 16px

    &::after
      @media $tablet-landscape-medium
        width 32px

      @media $phone
        width 8px

  & .benefits__item
    background-color $white
