.bid
  display flex
  flex-direction column
  gap 42px

  @media $tablet-landscape-medium
    gap 32px

  &__info
    display flex
    flex-direction column
    gap 7px

    @media $tablet-landscape-medium
      gap 10px

  &__description
    color $asphalt

    @media $tablet-landscape-medium
      max-width 328px