.cards
  display flex
  flex-wrap wrap
  justify-content space-between
  align-items flex-end
  row-gap 80px

  @media $tablet-landscape-medium
    row-gap 32px

  @media $phone
    flex-direction column
    align-items flex-start

  &__heading
    width calc(50% - 4px)
    color $graphite

    @media $phone
      width 100%

  &__description
    width calc(50% - 4px)
    color $green

    @media $tablet-landscape-large
      font-size 28px
      line-height 36px

    @media $tablet-landscape-medium
      font-size 18px
      line-height 23px

    @media $phone
      width 100%
      margin -9px 0 0

    & p:not([class])
      max-width 340px

  &__list
    display flex
    flex-direction column
    width 100%
    gap 8px

  &__item
    display flex
    justify-content space-between
    width 100%
    gap 8px

    @media $tablet-landscape-medium
      flex-direction column-reverse

    &-image
      display block
      width calc(50% - 4px)
      height auto
      min-height 688px
      object-fit cover
      object-position center
      border-radius 16px

      @media $tablet-landscape-medium
        width 100%
        height 320px
        min-height auto

    &-info
      display flex
      flex-direction column
      align-items center
      width calc(50% - 4px)
      padding 81px 24px 80px
      gap 38px
      border-radius 16px
      background-color $white

      @media $tablet-landscape-large
        padding 41px 40px 41px
        gap 30px

      @media $tablet-landscape-medium
        width 100%
        padding 24px
        gap 24px

    &-heading,
    &-description
      width 100%
      max-width 636px

      @media $tablet-landscape-medium
        max-width none

    &-heading
      color $graphite
