.common
  &__h1,
  &__h2,
  &__h3,
  &__h4,
  &__h5
    margin 0
    font-family $stlz
    font-weight 400
    color $green

  &__h1
    font-size 80px
    line-height 80px

    @media $tablet-landscape-large
      font-size 70px
      line-height 70px

    @media $tablet-portrait-large
      font-size 29px
      line-height 32px

    &_accent
      font-size 100px
      line-height 95px

      @media $tablet-landscape-large
        font-size 80px
        line-height 76px

      @media $tablet-portrait-large
        font-size 29px
        line-height 32px

  &__h2
    font-size 60px
    line-height 66px

    @media $tablet-landscape-large
      font-size 50px
      line-height 55px

    @media $tablet-portrait-large
      font-size 27px
      line-height 30px

  &__h3
    font-size 40px
    line-height 44px

    @media $tablet-landscape-large
      font-size 32px
      line-height 35px

    @media $tablet-portrait-large
      font-size 24px
      line-height 26px

  &__h4
    font-size 26px
    line-height 31px

    @media $tablet-landscape-large
      font-size 24px
      line-height 29px

    @media $tablet-portrait-large
      font-size 20px
      line-height 24px

  &__h5
    font-size 22px
    line-height 29px

    @media $tablet-landscape-large
      font-size 20px
      line-height 26px

    @media $tablet-portrait-large
      font-size 18px
      line-height 23px

  &__text
    margin 0
    font-size 16px
    line-height 24px
    font-weight 400
    color $graphite

    @media $tablet-landscape-large
      font-size 15px
      line-height 23px

    @media $tablet-portrait-large
      font-size 14px
      line-height 21px

    &_small
      font-size 13px
      line-height 16px

      @media $tablet-portrait-large
        font-size 12px
        line-height 14px

    &_medium
      font-size 22px
      line-height 29px

      @media $tablet-landscape-large
        font-size 20px
        line-height 26px

      @media $tablet-portrait-large
        font-size 18px
        line-height 23px

    &_large
      font-size 32px
      line-height 42px

      @media $tablet-landscape-large
        font-size 28px
        line-height 36px

      @media $tablet-portrait-large
        font-size 26px
        line-height 34px

    & em:not([class])
      font-style normal
      color $green

    & p:not([class])
      margin 0

    & p:not([class]) + p:not([class])
      margin 29px 0 0

    & p:not([class]) + ul:not([class])
      margin 29px 0 0

    & ul:not([class])
      display flex
      flex-direction column
      gap 24px

      & li:not([class])
        position relative
        padding 0 0 0 40px

        &::before
          content ''
          position absolute
          top 12px
          left 1px
          display block
          width 22px
          height 2px
          border-radius 1px
          background-color $green-poison

  &__line
    width calc(100% - 320px)
    max-width 1600px
    margin 0 auto
    border-top 1px solid $gray-light

    @media $tablet-landscape-medium
      width calc(100% - 80px)

    @media $phone
      width calc(100% - 32px)

  &__btn
    display inline-block
    padding 9px 24px 11px
    font-size 16px
    line-height 24px
    font-weight 400
    color $white
    text-align center
    border-radius 22px
    background-color $orange
    cursor pointer
    transition background-color .5s 0s ease

    @media $tablet-landscape-large
      padding 9px 24px 8px
      font-size 15px
      line-height 23px
      border-radius 20px

    @media $tablet-landscape-medium
      font-size 14px
      line-height 21px
      padding 10px 24px 9px

    @media $tablet-portrait-large
      padding 8px 24px 10px
      border-radius 19.5px

    &:not([disabled]):hover
      background-color $orange-deep

    &_green
      background-color $green

      &:not([disabled]):hover
        background-color $green-dark

    &_gray
      color $asphalt
      background-color alpha($gray-soft, .6)

      &:not([disabled]):hover
        background-color alpha($gray-soft, .6)

    &_small
      padding 4px 16px
      border-radius 16px

  &__tag
    padding 4px 8px
    font-size 13px
    line-height 16px
    font-weight 400
    color $green
    border-radius 4px
    background-color alpha($green-toxic, .3)

    @media $tablet-landscape-large
      padding 3px 8px 5px

    @media $tablet-landscape-medium
      padding 4px 8px
      font-size 12px
      line-height 14px
