.cv
  display flex
  flex-direction column
  gap 42px

  @media $tablet-portrait-large
    gap 32px

  &__info
    display flex
    flex-direction column
    gap 7px

    @media $tablet-portrait-large
      gap 10px

  &__description
    color $asphalt

    @media $tablet-portrait-large
      max-width 328px