.faq
  padding 80px 40px
  border-radius 16px
  background-image url("../images/decor-03.jpg")
  background-size cover
  background-position center

  @media $tablet-landscape-large
    padding 80px 40px 82px

  @media $tablet-portrait-large
    padding 32px

  @media $phone
    padding 32px 16px

  &__inner
    display flex
    align-items flex-end
    justify-content space-between
    max-width 1600px
    margin 0 auto

    @media $tablet-landscape-medium
      flex-direction column
      align-items center
      gap 32px

  &__ask-question
    display flex
    flex-direction column
    width calc(50% - 12px)
    max-width 513px
    margin -92px 0 0

    @media $tablet-landscape-medium
      width 100%
      max-width none
      margin 0

    &-decor-image
      display block
      width 100%
      max-width 496px

      @media $tablet-landscape-medium
        margin 0 auto

      @media $tablet-portrait-large
        max-width 310px

      @media $phone
        max-width 222px

    &-inner
      position relative
      display flex
      flex-direction column
      align-items flex-start
      margin -79px 0 0
      padding 29px 24px 24px
      gap 11px
      background-color $green
      border-radius 16px
      overflow hidden

      @media $tablet-portrait-large
        margin -42px 0 0
        padding 24px 16px 17px
        gap 7px

      @media $phone
        border-radius 12px

      & > svg
        position absolute
        top -205px
        right -186px
        display block
        width 455px
        height 487px
        opacity .05
        stroke $green-ease

        @media $tablet-landscape-medium
          top -108px
          right -103px
          width 274px
          height 293px

    &-heading,
    &-description
      position relative
      color $white

    &-heading
      display flex
      justify-content space-between
      width 100%
      gap 16px

      & svg
        display block
        width 40px
        height 40px
        margin -5px 0 0
        stroke-width 2px
        stroke $green-poison

        @media $tablet-portrait-large
          margin -8px 0 0

    &-btn
      position relative
      margin 10px 0 0

      @media $tablet-portrait-large
        width 100%
        margin 14px 0 0

  &__questions
    display flex
    flex-direction column
    width calc(50% - 12px)
    gap 40px

    @media $tablet-landscape-medium
      width 100%

    @media $tablet-portrait-large
      gap 24px

  &__heading
    color $white

  &__list
    display flex
    flex-direction column
    gap 8px
  