.label
  font-size 16px
  line-height 24px
  font-weight 400
  color $asphalt

  @media $tablet-landscape-medium
    font-size 14px
    line-height 21px

.error
  font-size 13px
  line-height 16px
  font-weight 400
  color $red

.asterisk
  margin 0 0 0 4px
  font inherit
  color $red

.checkbox
  display flex
  align-items center
  gap 8px

  @media $tablet-landscape-medium
    justify-content space-between
    width 100%

  &__default
    position absolute
    width 0
    height 0
    opacity 0
    pointer-events none

  &__custom
    flex-shrink 0
    position relative
    width 24px
    height 24px
    border-radius 4px
    border 1px solid $gray-light
    background-color $white
    cursor pointer
    transition background-color .5s 0s ease, border .5s 0s ease

    &::after
      content ''
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      display block
      width 11px
      height 9px
      background-image url("data:image/svg+xml,%3Csvg viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.56372 0L11 1.5071L3.85922 9L0 4.95048L1.43628 3.44338L3.85922 5.9858L9.56372 0Z' fill='white'/%3E%3C/svg%3E")
      background-repeat no-repeat
      background-size contain
      opacity 0
      transition opacity .5s 0s ease

  &__label
    font-size 16px
    line-height 24px
    font-weight 400
    color $graphite

    @media $tablet-landscape-medium
      order -1
      font-size 14px
      line-height 21px

  &__link
    font inherit
    color $orange
    text-decoration none

.checkbox__default:checked + .checkbox__custom
  background-color $green
  border 1px solid $green

  &::after
    opacity 1

.input,
.textarea
  padding 9px 12px
  font-size 16px
  line-height 24px
  font-weight 400
  color $graphite
  border 1px solid $gray-light
  border-radius 8px
  transition border .5s 0s ease

  &:focus
    outline none

.textarea
  height 100px
  resize none

.file-uploader
  display flex
  align-items center
  gap 16px

  &__default
    position absolute
    opacity 0
    pointer-events none

  &__custom
    flex-shrink 0

  &__file-label
    font-size 16px
    line-height 24px
    font-weight 400
    color $gray-deep
    white-space nowrap
    pointer-events none
    overflow hidden
    text-overflow ellipsis

    @media $tablet-landscape-medium
      font-size 15px
      line-height 23px

.form
  position relative

  &__inner
    display flex
    flex-direction column

  &__section + &__section
    margin 32px 0 0

  &__section
    display flex
    flex-direction column
    gap 16px

    &-heading
      color $graphite

  &__cols-2
    display grid
    grid-template-columns repeat(2, 1fr)
    row-gap 12px
    column-gap 24px

    @media $tablet-landscape-medium
      grid-template-columns 100%

  &__item
    display flex
    flex-direction column
    width 100%
    gap 4px

  &__actions
    display flex
    align-items center
    justify-content space-between
    margin 40px 0 0

    @media $tablet-landscape-medium
      flex-direction column
      align-items flex-start
      margin 32px 0 0
      gap 32px

  &__submit-btn
    white-space nowrap

    @media $tablet-landscape-medium
      width 100%

.form__item
  & .error
    margin -20px 0 0
    opacity 0
    pointer-events none
    transition margin .5s 0s ease, opacity .5s 0s ease

.form__item_error
  & .error
    margin 0
    opacity 1

  & .input,
  & .textarea,
  & .checkbox__custom
    border 1px solid $red
