.index-intro
  position relative
  display flex
  flex-direction column
  gap 42px

  @media $tablet-landscape-large
    gap 40px

  @media $tablet-landscape-medium
    gap 33px

  &__info
    position relative
    display flex
    flex-direction column
    width 100%
    max-width 1648px
    margin 0 auto
    padding 0 24px
    gap 36px

    @media $tablet-landscape-large
      gap 35px

    @media $tablet-landscape-medium
      padding 0
      gap 32px

  &__description
    display flex
    align-items center
    max-width 1220px
    gap 150px

    @media $tablet-landscape-large
      gap 50px

    @media $tablet-landscape-medium
      flex-direction column
      align-items flex-start
      gap 24px
      font-size 18px
      line-height 23px

  &__decor-image
    display block
    width 256px
    margin 5px 0 0

    @media $tablet-landscape-medium
      width 156px
      margin 0

  &__demo
    position relative
    border-radius 16px
    overflow hidden

    &-video
      display block
      width 100%
      cursor pointer

  &__logo
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    display block
    width 100%
    max-width 651px
    pointer-events none

    @media $tablet-landscape-medium
      max-width 228px

  &__play-btn
    position absolute
    bottom 32px
    right 32px
    pointer-events none
    opacity 1
    transition opacity .5s 0s ease

    @media $phone-small
      bottom 12px
      right 12px

    & > svg
      position absolute
      top 50%
      left calc(50% + 1px)
      transform translate(-50%, -50%)
      display block
      width 24px
      height 24px

    &-indicator
      & > svg
        display block
        width 50px
        height 50px
        stroke-width 2px
        stroke $green-poison
        stroke-dasharray 154px
        stroke-dashoffset 154px
        transition stroke-dashoffset 1s 0s ease

.index-intro__demo:hover
  & .index-intro__play-btn-indicator
    & > svg
      stroke-dashoffset 0
      transition stroke-dashoffset 5s 0s ease

.index-intro__demo-video[data-played]
  & + .index-intro__play-btn
    opacity 0

    &-indicator
      & > svg
        stroke-dashoffset 0
        transition stroke-dashoffset 5s 0s ease
