.intro
	position relative
	padding 200px 32px 265px
	border-radius 16px
	overflow hidden
	background-color $black

	@media $tablet-landscape-medium
		padding 40px 32px 41px

	@media $phone
		padding 40px 24px 41px

	&_vertical
		padding 200px 40px 163px

	&_no-bg
		padding 0
		border-radius 0
		overflow visible
		background none

	&__image
		position absolute
		top 0
		left 0
		display block
		width 100%
		height 100%
		object-fit cover
		object-position center
		opacity .7

	&__inner
		position relative
		display flex
		justify-content space-between
		max-width 1600px
		margin 0 auto
		gap 24px

		@media $phone
			flex-direction column
			gap 40px

	&__heading
		color $white

	&__description
		display flex
		flex-direction column
		width calc(50% - 12px)
		margin 3px 0 0
		gap 8px
		color $white

		@media $tablet-landscape-medium
			gap 10px
			font-size 18px
			line-height 23px

		@media $phone
			width 100%

		&::before
			content ""
			display block
			width 50px
			height 2px
			background-color $green-poison
			border-radius 1px

.intro_no-bg
	& .intro__heading
		color $green

.intro_vertical
	& .intro__inner
		flex-direction column
		gap 82px

		@media $tablet-landscape-large
			gap 84px

	& .intro__description
		width 100%
		max-width 1192px
		margin 0