.product-preview
  display flex
  justify-content space-between
  height 100%
  padding 4px
  background-color $white
  border-radius 16px

  @media $tablet-landscape-medium
    flex-direction column-reverse

  &__info
    display flex
    flex-direction column
    width 52%
    padding 21px 24px 24px
    gap 24px

    @media $tablet-landscape-large
      width 65%
      padding 14px 16px 16px
      gap 16px

    @media $tablet-landscape-medium
      width 100%
      padding 10px 12px 12px

  &__tags
    display flex
    flex-wrap wrap
    margin -17px 0 0
    gap 4px

    @media $tablet-landscape-large
      margin -10px 0 0

  &__details
    display flex
    flex-direction column
    gap 12px

  &__detail
    display flex
    justify-content space-between
    align-items baseline

    &::after
      content ""
      display block
      width 100%
      height 1px
      margin 0 16px
      background-color $gray-light

    &-label,
    &-value
      font-size 16px
      line-height 24px
      font-weight 400
      color $graphite

    &-value
      order 1
      min-width 208px

  &__countries
    display grid
    grid-template-columns repeat(2, 1fr)
    gap 8px

  &__country
    display flex
    flex-direction row-reverse
    justify-content flex-end
    align-items center
    padding 4px
    gap 8px
    font-size 13px
    line-height 16px
    font-weight 400
    color $black
    background-color $gray
    border-radius 8px

    &-flag
      display block
      width 50px

  &__image
    display block
    width 48%
    height 100%
    border-radius 12px
    object-fit cover
    object-position center

    @media $tablet-landscape-large
      width 35%

    @media $tablet-landscape-medium
      width 100%
      height 200px