.review-preview
	display grid
	grid-template-columns 240px 1fr
	grid-template-rows min-content 1fr
	align-items start
	padding 4px
	column-gap 24px
	background-color $white
	border-radius 16px

	@media $tablet-landscape-medium
		grid-template-columns 80px auto
		padding 16px
		column-gap 12px
		row-gap 12px

	&__image
		display block
		grid-row-start 1
		grid-row-end 3
		width 240px
		border-radius 12px

		@media $tablet-landscape-medium
			grid-row-end 2
			width 80px

	&__credits
		display flex
		flex-direction column
		padding 15px 12px 16px 0
		gap 12px

	&__heading
		color $graphite

	&__position
		color $gray-deep

	&__description
		padding 0 12px 20px 0

		@media $tablet-landscape-medium
			grid-column-start 1
			grid-column-end 3