.review-preview
	display flex
	padding 4px
	gap 24px
	background-color $white
	border-radius 16px

	&__image
		display block
		width 240px
		border-radius 12px

	&__info
		display flex
		flex-direction column
		padding 16px 12px 16px 0
		gap 12px

	&__heading
		color $graphite

	&__position
		color $gray-deep