.review
	display flex
	flex-wrap wrap
	column-gap 24px
	row-gap 40px

	@media $tablet-landscape-medium
		flex-direction column
		row-gap 24px

	&__heading
		width calc(50% - 12px)
		color $graphite

		@media $tablet-landscape-medium
			width 100%

	&__description
		width calc(50% - 12px)
		color $green

		@media $tablet-landscape-medium
			width 100%
			font-size 18px
			line-height 23px

	&__pagination
		display flex
		justify-content flex-end
		width 100%
		gap 40px

		@media $tablet-landscape-medium
			justify-content center

		&-btn
			display flex
			justify-content center
			align-items center
			width 42px
			height 42px
			border-radius 50%
			background-color alpha($gray-soft, .6)
			cursor pointer

			& svg
				display block
				width 16px
				height 16px
				stroke-width 2px
				stroke $asphalt

	&__slider
		width 100%
		max-width 1452px
		margin 0
		overflow visible

		&-list
			height auto