.shipping
  position relative
  display flex
  flex-direction column

  &__map
    position absolute
    top -244px
    left -378px
    display block
    width 1684px

  &__heading
    position relative
    max-width 406px

    @media $tablet-portrait-large
      max-width 240px

  &__countries
    @media $tablet-landscape-medium
      display none

    &-slider
      position relative
      align-self flex-end
      margin -34px 0 0

      @media $tablet-landscape-large
        margin -1px 0 0

      @media $tablet-landscape-medium
        align-self center
        width 160px
        margin 0
        overflow visible

    &-list
      display grid
      grid-template-columns repeat(2, 1fr)
      height auto
      gap 8px

      @media $tablet-landscape-medium
        display flex
        gap 0

    &-item
      @media $tablet-landscape-medium
        padding 377px 0 0

    &-btn
      display flex
      flex-direction row-reverse
      justify-content flex-end
      align-items center
      min-width 187px
      padding 8px
      gap 12px
      font-size 13px
      line-height 16px
      font-weight 400
      color $graphite
      border-radius 8px
      background-color $white

      @media $tablet-landscape-medium
        width 100%
        min-width auto

    &-flag
      display block
      width 50px