.steps
  display flex
  flex-direction column
  gap 80px

  @media $tablet-landscape-large
    gap 82px

  @media $tablet-landscape-medium
    gap 24px

  @media $tablet-landscape-medium
    gap 32px

  &_inline
    display grid
    grid-template-columns repeat(4, 1fr)
    gap 8px

    @media $tablet-landscape-large
      display flex
      flex-direction column
      gap 82px

    @media $tablet-landscape-medium
      gap 24px

  &__heading
    color $graphite

    @media $tablet-landscape-medium
      padding 0 40px

    @media $phone
      padding 0 16px

  &__list-wrapper
    overflow-x auto
    -ms-overflow-style none
    scrollbar-width none

    &::-webkit-scrollbar
      display none

  &__list
    display grid
    align-items start
    gap 8px

    @media $tablet-landscape-medium
      display flex
      align-items unset
      padding 0 0 0 40px

    @media $phone
      padding 0 0 0 16px

    &_cols-3
      grid-template-columns repeat(3, 1fr)

      @media $tablet-landscape-medium
        display flex

    &_cols-4
      grid-template-columns repeat(4, 1fr)

      @media $tablet-landscape-medium
        display flex

    &::after
      content ''
      display none

      @media $tablet-landscape-medium
        flex-shrink 0
        display block
        width 32px

      @media $phone
        width 8px

  &__item
    display flex
    flex-direction column
    min-height 420px
    padding 16px 24px 24px
    gap 17px
    background-color $white
    border-radius 16px

    @media $tablet-landscape-large
      padding 17px 24px 38px
      gap 25px

    @media $tablet-landscape-medium
      flex-shrink 0
      width 296px
      min-height 300px
      padding 19px 24px 25px
      gap 8px

    @media $phone
      padding 19px 24px 38px

    &:nth-child(2)
      margin 40px 0 0

      @media $tablet-landscape-medium
        margin 0

    &:nth-child(3)
      margin 80px 0 0

      @media $tablet-landscape-medium
        margin 0

    &:nth-child(4)
      margin 120px 0 0

      @media $tablet-landscape-medium
        margin 0

    &-heading
      @media $tablet-landscape-medium
        margin 4px 0 0
        font-size 20px
        line-height 26px

    &-description
      margin -5px 0 0

      @media $tablet-landscape-large
        margin -13px 0 0

      @media $tablet-landscape-medium
        margin 0
        line-height 23px

      & ul:not([class])
        gap 0

        & li:not([class])
          padding 0 0 0 24px

          &::before
            left 11px
            width 2px
            background-color $graphite

  &__index
    font-size 100px
    line-height 90px
    font-weight 400
    color $green

    @media $tablet-landscape-large
      font-size 90px
      line-height 81px

    @media $tablet-landscape-medium
      font-size 56px
      line-height 50px

.steps_inline
  & .steps__list-wrapper
    grid-column-start 2
    grid-column-end -1
