.tabs
  display flex
  flex-direction column
  align-items flex-start
  gap 80px

  @media $tablet-landscape-medium
    gap 40px

  &_sidebar
    position relative
    flex-direction row
    gap 24px

    @media $tablet-landscape-medium
      flex-direction column
      gap 56px

  &__list
    display flex
    padding 2px
    gap 2px
    border 2px solid $white
    border-radius 16px
    background-color $gray-soft

  &__btn
    display flex
    flex-direction row-reverse
    justify-content center
    align-items center
    padding 12px 40px
    gap 12px
    font-size 22px
    line-height 29px
    font-weight 400
    color $graphite
    border-radius 12px
    background-color $gray-soft
    cursor pointer
    transition background-color .5s 0s ease, color .5s 0s ease

    @media $tablet-landscape-large
      padding 10px 24px

    @media $tablet-landscape-medium
      padding 8px 24px
      font-size 18px
      line-height 23px

    @media $phone
      padding 8px 12px

    &:hover,
    &_active
      color $green
      background-color $white

    & svg
      display block
      width 40px
      height 40px
      stroke-width 2px
      stroke $graphite

      @media $tablet-landscape-medium
        width 32px
        height 32px

  &__content
    width 100%
    opacity 1
    transition opacity .3s 0s ease

    &_in-transition
      opacity 0

    &-item
      display none
      
      &_active
        display block

.tabs_sidebar
  & .tabs__list
    position sticky
    top 0
    left 0
    flex-direction column
    flex-shrink 0
    width 382px

    @media $tablet-landscape-large
      width 282px

    @media $tablet-landscape-medium
      position static
      flex-direction row
      width auto

  & .tabs__btn
    justify-content flex-end
    width 100%
    min-width auto

    @media $tablet-landscape-medium
      width auto

.tabs__btn
  &:hover,
  &_active
    & svg
      stroke $green
