.tabs
  display flex
  flex-direction column
  align-items flex-start
  gap 80px

  @media $tablet-landscape-medium
    gap 40px

  &_sidebar
    position relative
    flex-direction row
    gap 24px

    @media $tablet-landscape-medium
      flex-direction column
      gap 56px

  &__list-wrapper
    -ms-overflow-style none
    scrollbar-width none
    &::-webkit-scrollbar
      display none

    @media $tablet-landscape-medium
      display flex
      width 100%
      padding 0 0 0 40px
      overflow-x auto

    @media $phone
      padding 0 0 0 16px

    &::after
      content ''
      display none

      @media $tablet-landscape-medium
        flex-shrink 0
        display block
        width 40px

      @media $phone
        width 16px

  &__list
    display flex
    flex-wrap wrap
    padding 2px
    gap 2px
    border 2px solid $white
    border-radius 16px
    background-color $gray-soft

    @media $tablet-landscape-medium
      flex-wrap nowrap

  &__btn
    display flex
    flex-direction row-reverse
    justify-content center
    align-items center
    padding 12px 40px
    gap 12px
    font-size 22px
    line-height 29px
    font-weight 400
    color $graphite
    border-radius 12px
    background-color $gray-soft
    cursor pointer
    white-space nowrap
    transition background-color .5s 0s ease, color .5s 0s ease

    @media $tablet-landscape-large
      padding 10px 24px
      font-size 20px
      line-height 26px

    @media $tablet-landscape-medium
      padding 8px 24px
      font-size 18px
      line-height 23px

    @media $phone
      padding 8px 12px

    @media $phone-small
      gap 8px

    &:hover,
    &_active
      color $green
      background-color $white

    & svg
      display block
      width 40px
      height min-content
      stroke-width 2px
      stroke $graphite

      @media $tablet-landscape-medium
        width 32px

      @media $phone-small
        width 24px

  &__content
    width 100%
    opacity 1
    transition opacity .3s 0s ease

    @media $tablet-landscape-medium
      padding 0 40px
    
    @media $phone
      padding 0 16px

    &_in-transition
      opacity 0

    &-item
      display none
      
      &_active
        display block

.tabs_sidebar
  & .tabs__list-wrapper
    position sticky
    top 0
    left 0
    width 382px

    @media $tablet-landscape-large
      width 282px

    @media $tablet-landscape-medium
      position static
      width 100%

  & .tabs__list
    flex-direction column
    flex-shrink 0

    @media $tablet-landscape-medium
      flex-direction row
      width auto

  & .tabs__btn
    justify-content flex-end
    width 100%
    text-align left
    min-width auto
    white-space normal

    @media $tablet-landscape-medium
      width auto
      white-space nowrap

.tabs__btn
  &:hover,
  &_active
    & svg
      stroke $green
