.vacancy-preview
  display flex
  padding 4px
  gap 40px
  background-color $white
  border-radius 16px

  @media $tablet-landscape-medium
    position relative
    flex-direction column
    padding 244px 4px 4px
    gap 24px

  &__info-wrapper
    @media $tablet-landscape-medium
      position relative
      height 184px
      overflow hidden
      transition height .5s 0s ease

    &::after
      content ''
      display none

      @media $tablet-landscape-medium
        position absolute
        bottom 0
        left 0
        display block
        width 100%
        height 80px
        background linear-gradient(alpha($white, 0), $white)

  &__info
    display flex
    flex-direction column
    padding 25px 24px 24px
    gap 14px

    @media $tablet-landscape-medium
      padding 24px 12px 56px

  &__heading
    color $graphite

  &__description
    margin 8px 0 0

  &__details
    display flex
    flex-direction column
    margin 2px 0 0
    gap 16px

    &-group
      display flex
      flex-direction column
      gap 8px

      &-heading
        color $graphite

    &-item
      position relative
      display flex
      padding 0 0 0 24px
      font-size 16px
      line-height 24px
      font-weight 400
      color $graphite

      @media $tablet-landscape-large
        font-size 15px
        line-height 23px

      &::before
        content ""
        position absolute
        top 11px
        left 11px
        display block
        width 2px
        height 2px
        background-color $graphite

  &__toggle-btn
    display none

    @media $tablet-landscape-medium
      position absolute
      left 50%
      bottom 0
      transform translateX(-50%)
      z-index 1
      display flex
      align-items center
      padding 4px 16px
      gap 8px
      font-size 16px
      line-height 24px
      border-radius 20px

    &::after
      content ''
      transform rotate(0)
      display block
      width 16px
      height 16px
      background-image url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 2V14M8 14L14 8M8 14L2 8' stroke='%23454545' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E")
      background-repeat no-repeat
      background-size contain
      transition transform .5s 0s ease

  &__actions
    display flex
    flex-direction column
    gap 4px

  &__image
    display block
    width 377px
    border-radius 12px

    @media $tablet-landscape-medium
      position absolute
      top 4px
      left 4px
      width calc(100% - 8px)
      height 240px
      object-fit cover
      object-position center

  &__salary-and-cv-btn
    display flex
    flex-direction column
    align-items center
    padding 21px 24px 24px
    gap 15px
    border-radius 12px
    background-color alpha($gray-soft, .6)

  &__salary
    font-size 32px
    line-height 42px
    font-weight 400
    color $graphite
    text-align center

    @media $tablet-landscape-large
      font-size 28px
      line-height 36px

  &__cv-btn
    width 100%

.vacancy-preview_opened
  & .vacancy-preview__toggle-btn
    &::after
      transform rotate(180deg)