#cv-modal.modal(hidden)
	.modal__overlay.js-modal-overlay

	.modal__inner
		button.modal__close-btn.js-modal-close-btn
			include ../../build/images/icons/icon-cross-16.svg

		.modal__cv
			.cv
				.cv__info
					h3.common__h3.cv__heading Отправьте резюме

					.common__text.common__text_medium.cv__description
						p Наш HR свяжется с вами

				.cv__form
					form.form.js-form
						.form__inner
							.form__section
								h4.common__h4.form__section-heading Представьтесь, пожалуйста

								.form__cols-2
									.form__item.js-form-item(data-req data-type='name')
										label.label Имя
											span.asterisk *
										input.input(type='text' name='name')

									.form__item.js-form-item(data-req data-type='phone')
										label.label Телефон
											span.asterisk *
										input.input(type='text' name='phone')

									.form__item.js-form-item(data-type='email')
										label.label Email
										input.input(type='text' name='email')

									.form__item.js-form-item
										label.label Город
										input.input(type='text' name='city')

							.form__section
								h4.common__h4.form__section-heading Сообщение

								.form__item.js-form-item
									textarea.textarea(name='message')

							.form__section
								h4.common__h4.form__section-heading Прикрепите резюме

								.form__item.js-form-item(data-type='file')
									label.file-uploader
										input.file-uploader__default(type='file' name='resume')

										span.common__btn.common__btn_gray.common__btn_small.file-uploader__custom Выберите файл

										span.file-uploader__file-label.js-file-label Файл не выбран

							.form__actions
								.form__item.js-form-item(data-req data-type='checkbox' )
									label.checkbox
										input.checkbox__default(type='checkbox' name='agreement')

										.checkbox__custom

										span.checkbox__label Я согласен с #[a.checkbox__link(href='' target='_blank') обработкой персональных данных]

								button.common__btn.form__submit-btn.js-submit-btn(type='submit') Отправить резюме